body{
    background-color: rgb(87, 172, 123);
    font-size: 200%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(9, 39, 23);
    text-align: center;
}

h1{
    text-align: center;
}

.lefteye {
    position: absolute;
    top: 200px;
    left: 400px;
    max-width: 10px;
    height: auto;
}

.righteye {
    position: absolute;
    top: 200px;
    right: 650px;
    max-width: 10px;
    height: auto;
}

.dog {
    position: absolute;
    top: 395px;
    right: 0px;
    bottom: 0px;
}
